[Desktop Entry]
Version=1.0
Type=Application
Exec=gksu thunar
Icon=system-file-manager
StartupNotify=true
Terminal=false
Categories=Utility;X-XFCE;X-Xfce-Toplevel;
OnlyShowIn=XFCE;
Name=Sudo Thunar
Comment=Sudo Thunar
X-XFCE-Source=file:///usr/share/applications/xfce4-run.desktop
Path=
